<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mawape.aimant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitle" >

        <!-- activities list -->
        <activity android:name="com.mawape.aimant.activities.MenuActivity" />
        <activity android:name="com.mawape.aimant.activities.NegociosListActivity" />
        <activity
            android:name="com.mawape.aimant.activities.CategoriasAcivity"
            android:label="@string/title_activity_categorias_acivity" >
        </activity>

        <!-- launch activity -->
        <activity
            android:name="com.mawape.aimant.activities.SplashMawapeActivity"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- second splash activity -->
        <activity
            android:name="com.mawape.aimant.activities.SplashAimantActivity"/>
    </application>

</manifest>